.quotation {
  padding: 20px;
  &--container {
    display: flex;
    flex-direction: column;
  }
  &--container__top,
  &--container__bottom {
    display: flex;
    @media screen and (min-width: 992px) {
      gap: 35px;
      width: 100%;
      max-width: 100%;
    }
  }
  &--container__top {
    align-items: center;
    justify-content: space-between;
  }
  &--container__bottom {
    .quotation {
      &--left,
      &--right {
        @media screen and (min-width: 992px) {
          padding: 0 25px;
          width: 100%;
          max-width: 50%;
        }
      }
      &--left {
        .region {
          &__one {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          &__three {
            .quotation {
              &--list--row {
                padding: 7px 7px 12px;
                border-bottom: 1px solid #F6F6F6;
                &:hover {
                  background-color: #FFF8F1;
                }
              }
              &--list--one {
                display: flex;
                justify-content: space-between;
              }
              &--list--three {
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      }
      &--right {
        .scenary {
          &--container__top {
            margin: 0 0 50px;
            .scenary {
              &--one,
              &--two,
              &--four {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
              &--four {
                gap: 20px;
                justify-content: flex-start;
              }
              &--five {
                .scenary--data {
                  &__body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                  }
                  &__scenary {
                    display: flex;
                    justify-content: space-between;
                    .scenary--row {
                      @media screen and (min-width: 992px) {
                        width: 33.3%;
                        max-width: 50%;
                      }
                      &:last-child {
                        display: flex;
                        align-items: flex-end;
                      }
                    }
                  }
                  &__actions {
                    display: flex;
                    justify-content: space-between;
                    margin: 35px 0 0;
                  }
                }
              }
            }
          }
          &--container__bottom {
            height: 40vh;
            min-height: 40vh;
            overflow: auto;
            .scenary--data {
              &__body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              }
              &__scenary {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .scenary--row {
                  @media screen and (min-width: 992px) {
                    width: 33.3%;
                    max-width: 50%;
                  }
                }
                .scenary--row {
                  &__header {
                    display: flex;
                    justify-content: space-between;
                  }
                  &__table {
                    display: flex;
                    justify-content: space-between;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}