.card {
  background-color: $white;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
  width: 194px;
  padding: 8px 8px 12px;
  position: relative;
  transform-style: preserve-3d;
  transition: all .6s linear;
  &--image {
    img {
      height: 136px;
      width: 100%;
      object-fit: cover;
      object-position: top;
      cursor: pointer;
    }
  }
  &--body {
    p {
      font-family: $FuturaLight;
      font-size: 14px;
    }
  }
  &--reference {
    background-color: $white;
    font-size: 10px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    text-transform: uppercase;
  }
  &--actions {
    display: flex;
    justify-content: flex-end;
    .qnviewdetailproducts {
      display: none;
    }
    button {
      background-color: $black;
      color: $white;
      border: 0;
      margin: 0;
      padding: 7px 14px;
      cursor: pointer;
      font-size: 13px;
    }
    a {
      color: $black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &--title {
    font-size: 14px;
    margin: 5px 0;
  }
  .quotation--info,
  p {
    margin: 0 0 10px;
  }
  &__front {
    background: #fff;
    position: absolute;
    backface-visibility: hidden;
    height: 270px;
    width: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background: #fff;
    height: 270px;
    color: #000;
    background-color: $white;
    width: 194px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  &__back--country {
    margin: 15px 0;
    width: 100%;
    font-size: 14px;
    text-transform: capitalize;
  }
}