.card--amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__input {
    input {
      border: 0;
      box-shadow: none;
      height: auto;
      text-align: center;
      width: 30px;
    }
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    button {
      background-color: rgba(0,0,0,0);
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}