.modal {
  position: absolute;
  width: 100%;
  background: rgba(255,255,255,.6705882353);
  top: 0;
  margin: auto;
  &--container {
    background-color: white;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.09);
    // display: block;
    // height: 100%;
    // width: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // margin: auto;
  }
  &--container__body {
    display: flex;
  }
  &--container__bodyLeft,
  &--container__bodyRight {
    width: 50%;
    height: 100vh;
    position: relative;
  }
  &--container__bodyLeft {
    // display: grid;
    // grid-template-rows: repeat(4, 1fr);
    // height: 100%;
    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    //   opacity: 1;
    //   transition: all ease-in-out .5s;
    //   &:first-child {
    //     grid-column: 2;
    //     grid-row: 1 / span 4;
    //   }
    // }
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    grid-template-rows: repeat(2, 1fr);
    overflow: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      transition: all ease-in-out .5s;
      // &:first-child {
      //   grid-column: 2;
      //   grid-row: 1 / span 4;
      // }
    }
    .qnimage--auto {
      height: auto;
      width: auto;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  &--container__bodyRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 3%;
    .modal--header {
      &__languages {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin: 0 0 30px;
        .quotation--btn__add {
          cursor: pointer;
        }
      }
    }
  }
  &--header {
    .quotation--title__quo {
      margin: 0 0 20px;
      padding: 0 50px 0 0;
    }
  }
  &--title {
    margin: 0 0 10px;
    padding: 0;
    span {
      font-family: $FuturaMedium;
    }
  }
  &--body {
    padding: 0 25px 0 0;
    max-height: 60vh;
    overflow: auto;
  }
  &--close {
    position: absolute;
    cursor: pointer;
    font-size: 40px;
    right: 20px;
    top: 10px;
  }
}