.quotationew--calculation {
  &__header {
    background-color: $white;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;
    padding: 5px 20px;
    .region {
      &--left,
      &--right {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &--left {
        gap: 16px;
        .quotationew--calculation__discount {
          background-color: $c6;
          padding: 12px;
        }
      }
      &--right {
        .quotation--btn__new {
          cursor: pointer;
          &:disabled {
            background-color: #ccc; 
            color: #666; 
            cursor: not-allowed; 
            border: 1px solid #999; 
            opacity: 0.6; 
          }
        }
      }
    }
  }
  &__body {
    .loading-message {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}