.quotation {
  background-color: $c6;
  padding: 20px;
  &--container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &--container__top,
  &--container__bottom {
    display: flex;
    @media screen and (min-width: 992px) {
      gap: 35px;
      width: 100%;
      max-width: 100%;
    }
  }
  &--container__top {
    align-items: center;
    justify-content: space-between;
    .region {
      &__right {
        display: flex;
        gap: 20px;
      }
    }
    .quotation--btn__add {
      position: relative;
      padding: 10px 35px 10px 10px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        background-image: url('../img/icon/icon-more-black.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        right: 7px;
      }
    }
  }
  &--container__bottom {
    .quotation {
      &--left,
      &--right {
        background-color: $white;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
        border-radius: 14px;
        min-height: 100vh;
        @media screen and (min-width: 992px) {
          padding: 25px;
          width: 100%;
        }
      }
      &--left {
        @media screen and (min-width: 992px) {
          max-width: 30%;
        }
        .region {
          &__one {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          &.quotation--container__action {
            @media screen and (max-width: 1370px) {
              flex-wrap: wrap;
              gap: 20px;
            }
            
            #advisors {
              @media screen and (max-width: 1370px) {
                width: 100%;
              }
            }
            #search-clients {
              display: flex;
              align-items: center;
              font-size: 13px;
              height: 40px;
              
              @media screen and (max-width: 1370px) {
                width: 100%;
              }
              #clients {
                @media screen and (max-width: 1370px) {
                  width: 100%;
                }
              }
              .search-submit {
                position: relative;
                width: 40px;
                height: 42px;
                display: flex;
                align-items: center;
                border: 1px solid #d9d8d6;
                box-shadow: 0px 0px 24px rgba(0,0,0,.08);
                background-color: $black;
                cursor: pointer;
                &:hover {
                  background-color: red;
                  background-color: #000000a3;
                }

                img {
                  width: 100%;
                  object-fit: contain;
                }

              }
            }

          }
          &__three {
            .quotation {
              &--content {
                position: relative;
                min-height: 60vh;
                .qnimage--auto {
                  position: absolute;
                  left: 0;
                  right: 0;
                  margin: auto;
                  width: max-content;
                  top: 0;
                  bottom: 0;
                  height: max-content;
                }

                .loading-message {
                  position: absolute;
                  top: 40%;
                  left: 40%;
                }
              }
              &--list--row {
                margin: 15px 0;
                padding: 15px;
                box-shadow: -4px 0px 10px 0px rgba(0,0,0,0.1);
                border-radius: 10px;
                cursor: pointer;
                transition: all 1s ease-in-out;
                position: relative;
                &.active {
                  left: 17px;
                  background-color: #efefef;
                }
                &:hover {
                  background-color: #efefef;
                  left: 17px;
                  transition: all 1s ease-in-out;
                }
              }
              &--list--one {
                display: flex;
                justify-content: space-between;
                .region {
                  &__right {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .quotation--origin {
                      &__shopify {
                        height: 25px;
                        width: 25px;
                      }
                      &__data {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                      }
                    }
                  }
                }
              }
              &--list--two {
                .quotation--title__quo {
                  margin: .2rem 0 .5rem;
                }
              }
              &--list--three {
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      }
      &--right {
        @media screen and (min-width: 992px) {
          max-width: 70%;
        }
        .scenary {
          &--container__top {
            margin: 0 0 50px;
            .scenary {
              &--created {
                position: relative;
                margin: 0 0 75px;
                display: block;
                &::after {
                  content: '';
                  position: absolute;
                  display: block;
                  background-color: $c4;
                  height: 2px;
                  width: 100%;
                  bottom: -40px;
                }
              }
              &--one,
              &--two,
              &--four {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
              &--one {
                display: flex;
                align-items: center;
                margin: 0 0 25px;
                .region {
                  &__one {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .quotation--origin {
                      &__shopify {
                        height: 25px;
                        width: 25px;
                      }
                    }
                  }
                  &__two {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    .quotation {
                      &--email,
                      &--download {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        gap: 10px;
                        text-decoration: none;
                      }
                      &--email {
                        &__send {
                          height: 20px;
                          width: 20px; 
                        }
                        &__img {
                          height: 16px;
                          width: 16px;
                          pointer-events: none;
                        }
                      }
                      &--download {
                        &__img {
                          height: 18px;
                          width: 18px;
                        }
                      }
                    }
                  }
                }
              }
              &--three {
                .quotation--title {
                  margin: 15px 0 5px;
                  padding: 0;
                }
              }
              &--four {
                gap: 20px;
                justify-content: flex-start;
              }
              &--five {
                margin: 15px 0 0;
                .scenary--data {
                  &__header {
                    background-color: $c4;
                    display: flex;
                    align-items: center;
                    padding: 12px;
                    &.selected {
                      background-color: $c15;
                      position: relative;
                      &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        background-image: url('../img/icon/icon-check-transparent.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        right: 12px;
                        height: 1.2rem;
                        width: 1.2rem;
                      }
                    }
                    .quotation--title__quo {
                      color: $black;
                      font-size: 16px;
                      margin: 0;
                      padding: 0;
                    }
                  }
                  &__body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #efefef;
                    border-radius: 0 0 10px 10px;
                    padding: 5px 5px 15px;
                    .quotation--title__quo {
                      color: $c5;
                      display: block;
                      font-size: 14px;
                      padding: 8px;        
                    }
                    .quotation--info {
                      font-size: 13px;
                      padding: 0 8px;
                    }
                    .quotation--detail {
                      color: $black;
                      background-color: transparent;
                      border: 2px solid $black;
                      font-family: $FuturaLight;
                      font-size: 12px;
                      padding: 8px 32px 8px 8px;
                      position: relative;
                      &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        background-image: url('../img/icon/icon-view.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 17px;
                        height: 17px;
                        top: 7px;
                        right: 5px;
                      }
                    }
                  }
                  &__scenary {
                    display: flex;
                    justify-content: space-between;
                    .scenary--row {
                      @media screen and (min-width: 992px) {
                        width: 33.3%;
                        max-width: 50%;
                      }
                      &:last-child {
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        .quotation--btn__view {
                          padding: 0 8px;
                        }
                      }
                    }

                    tr td:nth-child(2), tr td:nth-child(3) {
                      text-align: end;
                    }
                  }
                  &__actions {
                    display: flex;
                    justify-content: space-between;
                    margin: 35px 0 0;
                    .text-help {
                      margin: 0 auto;
                    }
                    .quotation--btn__add {
                      padding: 10px 35px 10px 10px;
                      position: relative;
                      &::after {
                        content: "";
                        display: block;
                        background-image: url('../img/icon/icon-add-btn.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        right: 7px;
                        width: 16px;
                        height: 16px;
                      }
                    }
                  }
                  &__actionsDelete {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 10px;
                    text-decoration: none;
                  }
                }
              }
              &--data__actions {
                display: flex;
                
                // background-color: gray;
                margin: 35px 0 0;
              }
            }
          }
          &--container__bottom {
            .scenary {
              &--created__body {
                margin: 0 0 20px;
                // margin: 35px 15px;
                // padding: 15px;
              }
            }
            .scenary--data {
              &__body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              }
              &__scenary {
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;
                padding: 15px;
                &.selected {
                  background-color: #efefef;
                  #products,
                  #unitPrices,
                  #prices {
                    .quotation--info {
                      margin: 0;
                      &:nth-child(even) {
                        background-color: $white;
                      }
                    }
                  }
                }
                .scenary--row {
                  @media screen and (min-width: 992px) {
                    width: 25%;
                    max-width: 50%;
                  }
                }
                #products,
                #unitPrices,
                #prices {
                  .quotation--info {
                    margin: 0;
                    padding: 7px 1px;
                    &:nth-child(even) {
                      background-color: #efefef;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}