#quotatioview {
  background-color: $cp14;
  height: auto;
  .region {
    &__one {
      .region__status {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        &--code {
          color: $c2;
          font-family: $FuturaBold;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
    &__two {
      max-width: 90%;
      margin: auto;
      .quotationew__title--container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 33px;
      }
    }
  }
  .quotatioview--container {
    max-width: 90%;
    margin: auto;
    padding-bottom: 2rem;
    hr {
      border: solid 1px;
      background: $c4;
      color: $c4;
      margin: 32px 0;
      &:nth-child(2) {
        margin: 16px;
      }
    }
    .quotatioview__section {
      margin-bottom: 4rem;
      .quotatioview__title {
        font-size: 24px;
        font-weight: 500;
        font-family: $FuturaMedium;
        margin: 5px 0 20px;
      }
      .quotatioview__actions {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 15px;
        gap: 15px;
      }
      .quotatioview__table {
        thead {
          th {
            font-family: $FuturaBold;
            font-weight: 800;
            font-size: 16px;
            text-align: left;
            padding-bottom: 16px;
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
              text-align: right;
            }

            &:nth-child(3) {
              text-align: right;
            }
          }
        }
        tbody {
          td {
            padding-bottom: 16px;
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
              text-align: right;
            }
            &:nth-child(3) {
              text-align: right;
            }
            div {
              text-align: right;
            }
          }
        }
      }
      .table__descuento {
        margin: 0 0 0 auto;
        max-width: 350px;
        thead {
          th {
            &:nth-child(3) {
              text-align: right;
            }
          }
        }
        tbody {
          tr {
            td {
              &:first-child {
                font-family: "Futura Bold";
              }
            }
          }
          td {
            &:nth-child(3) {
              text-align: right;
            }
          }
        }
      }
      .table__total {
        thead {
          th {
            &:nth-child(2) {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

.quotatioview__iva {
  display: flex;
  align-items: center;
  gap: 10px;
  input[type="checkbox"] {
    box-shadow: none;
  }
}