.quotationew--calculation {
  &__header {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;
    padding: 10px;
    .region {
      &--left,
      &--right {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &--left {
        gap: 16px;
        .quotationew--calculation__discount {
          background-color: $c6;
          padding: 12px;
        }
      }
      &--right {
        .quotation--btn__new {
          cursor: pointer;
        }
      }
    }
  }
}