.quotationew {
  // height: 100vh;
  min-height: 100vh;
  &--header {
    background-color: $c5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    padding: 15px 10px;
    flex-wrap: wrap;
    .region {
      &--left {
        display: flex;
        gap: 15px 30px;
        flex: 1 0 75%;
        flex-wrap: wrap;
      }
      &--right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .quotation {
          &--email,
          &--download {
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
          }

          &--email {
            img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
  &--body {
    
    .region {
      &__one,
      &__two {
        padding: 0 35px;
      }
      &__one {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        .quotationew--body {
          &__actions {
            color: $black;
            display: flex;
            align-items: center;
            gap: 15px;
            text-decoration: none;
            cursor: pointer;
          }
          &__info {
            display: flex;
            align-items: center;
            gap: 10px;
            .quotation--origin {
              &__shopify {
                height: 25px;
                width: 25px;
              }
              &__data {
                display: flex;
                align-items: center;
                gap: 10px;
              }
            }
          }
        }
      }
      &__two {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        .quotationew {
          &__title {
            @media screen and (min-width: 992px) {
              text-align: right;
              width: 100%;
              max-width: 100%;
            }
            .quotation--title {
              margin: 0 0 1rem;
            }
          }
          &__info {
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media screen and (min-width: 992px) {
              gap: 30px;
              max-width: 100%;
            }
            input {
              border: 1px solid $c4;
              height: 40px;
              margin: 10px 0 20px;
              padding: 0 10px;
              font-size: 14px;
              &.error {
                border: 1px solid $c12;
              }
            }
          }
          &__infoOne,
          &__infoTwo {
            display: flex;
            flex-direction: column;
            margin: 0;
            position: relative;
          }
          &__infoOne {
            width: 100%;
            max-width: 35%;
            .error-input-name {
              position: absolute;
              top: 74px;
            }
            .quotationew__searchclient {
              display: flex;
              flex-direction: column;
              position: relative;
              #quotationewsearchclient {
                position: absolute;
                top: 72px;
                margin: 0;
                padding: 10px 0;
                width: 100%;
                z-index: 1;
                &.quotationewsearchclient {
                  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
                  background-color: $white;
                  max-height: 300px;
                  overflow: auto;
                }
                li {
                  margin: 0;
                  padding: 6px 12px;
                  list-style: none;
                  cursor: pointer;
                }
              }
              .error-input {
                position: absolute;
                bottom: 5px;
              }
            }
          }
          &__infoTwo {
            width: 100%;
            max-width: 65%;
            position: relative;
            .quotation--title__quo {
              font-size: 16px;
              text-transform: initial;
            }
            .error-input {
              position: absolute;
              bottom: 5px;
            }
          }
        }
      }
      &__three {
        background-color: $c6;
        display: flex;
        padding:  30px 0 30px 35px;
        @media screen and (min-width: 992px) {
          flex-direction: row;
          justify-content: space-between;
          gap: 30px;
        }
        .region {
          &--left {
            width: 100%;
            max-width: 15%;
            .quotationew {
              &__filter--input {
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 50px;
                width: 100%;
                max-width: 100%;
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  display: block;
                  background-color: $c4;
                  height: 1px;
                  width: 100%;
                  bottom: -25px;
                }
                input {
                  background-image: url('../img/icon/icon-search-black.svg');
                  background-position: center left 5px;
                  background-repeat: no-repeat;
                  padding: 0 10px 0 32px;
                  font-size: 14px;
                }
              }
              &__filter--selects {
                display: flex;
                flex-direction: column;
                gap: 15px;
                select {
                  font-size: 14px;
                }
              }
            }
          }
          &--right {
            width: 100%;
            max-width: 85%;
            padding-right: 30px;
            .products--title {
              text-align: center;
              margin-top: 0;
              font-size: 18px;
            }
            .slider {
              &--productos {
                .slider {
                  &--content {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    position: relative;
                    width: 100%;
                    height: 31.5rem;
                    overflow: auto;
                    .quotation--loading{
                      margin: auto;
                    }
                    .qnimage--auto {
                      position: absolute;
                      left: 0;
                      right: 0;
                      margin: auto;
                      width: max-content;
                      top: 0;
                      bottom: 0;
                      height: max-content;
                    }
                  }
                  &--row {
                    position: relative;
                    margin: 15px;
                    &.active {
                      .card {
                        transform: rotateY(180deg);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &__four {
        background-color: $c6;
        padding: 35px;
      }
    }
  }
}