.scenary--row {
  &__header {
    background-color: $c4;
    border: 1px solid $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 8px;
    position: relative;
    &.selected {
      background-color: $c10;
      border: 1px solid $c9;
    }
    .quotation--title__quo {
      font-family: $FuturaBold;
      font-size: 16px;
    }
  }
  &__table {
    display: flex;
    justify-content: space-between;
    .scenary--row {
      display: block;
      margin: 0 0 12px;
      width: 25%;
      #products,
      #unitPrices,
      #prices {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }
    .quotation--title__quo,
    .quotation--info {
      color: $black;
      font-family: $FuturaMedium;
      font-size: 14px;
      margin: 0;
      display: flex;
      width: 100%;
      align-items: center;
      height: inherit;
    }
    .quotation--title__quo {
      margin: 5px 0;
      padding: 0 8px;
    }
    .quotation--info {
      font-family: $FuturaLight;
      margin: 0;
      padding: 4px 8px;
    }
  }
}