.scenary--row {
  &__header {
    background-color: $c2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    position: relative;
    &.selected {
      background-color: $c15;
      padding: 12px 42px 12px 12px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        display: block;
        background-image: url('../img/icon/icon-check-transparent.png');
        background-repeat: no-repeat;
        background-size: contain;
        right: 12px;
        height: 1.2rem;
        width: 1.2rem;
      }
      .quotation--title__quo {
        color: $black;
      }
      .scenary--quotation--email{
        .quotation--info {
          color: $black;
        }
      }
      .quotation--download {
        .quotation--info {
          color: $black;
        }
      }
    }
    .quotation--email__img,
    .quotation--download__img {
      max-width: 20px;
    }
    .quotation--title__quo {
      color: $white;
      font-size: 16px;
    }
    .scenary--quotation--email {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      .quotation--info {
        color: $white;
      }
    }
    .quotation--download {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      .quotation--info {
        color: $white;
      }
    }
  }
  &__actions {
    display: flex;
    gap: 20px;
  }
  &__select {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    img {
      height: 1.2rem;
      width: 1.2rem;
    }
    .quotation--info {
      color: $white;
    }
  }
  &__table {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    &:nth-child(even) {
      background-color: $white;
    }
    .scenary--row {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: flex-end;
      font-family: $FuturaMedium;
      font-size: 13px;
      color: $c2;
      padding: 10px 0;
      width: 10.6%;
      &:first-child {
        align-items: center;
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: center;
      }
      #products,
      #unitPrices,
      #prices {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      &:nth-child(1) {
        width: 25%;
      }
      &:nth-child(2) {
        width: 8%;
      }
      &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        text-align: end;
      }
      &.cancel {
        &::before {
          position: absolute;
          width: 20px;
          height: 20px;
          content: '';
          background-image: url(/img/icon/delete-icon.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          cursor: pointer;
        }
      }
    }
    .quotation--title__quo,
    .quotation--info {
      color: $black;
      font-family: $FuturaMedium;
      font-size: 13px;
      margin: 0;
      display: flex;
      width: 100%;
      align-items: center;
      height: inherit;
    }
    .quotation--title__quo {
      margin: 5px 0;
    }
    .quotation--info {
      color: $c2;
      margin: 0;
      padding: 4px 0px;
    }

    tr td:nth-child(2), tr td:nth-child(3) {
      span {
        justify-content: end;
      }
    }

    tr:nth-child(2) td:nth-child(2), tr:nth-child(2) td:nth-child(3) {
      p {
        justify-content: end;
        padding: 4px 0;
        // background-color: gray;
      }
    }

    p.quotation--title__quo {
      justify-content: end;
    }
  }
}