.scenary--titles {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
  gap: 15px;
  .scenary--row {
    width: 10.6%;
    font-family: $FuturaMedium;
    font-size: 16px;
    text-align: center;
    &:nth-child(1) {
      width: 25%;
      text-align: start;
    }
    &:nth-child(2) {
      width: 8%;
      text-align: end;
    }
    &:nth-child(3), &:nth-child(4), &:nth-child(5) {
      text-align: end;
    }
  }
  .scenary-delete__all {
    color: $black;
    background-color: $c12;
    font-size: 12px;
    padding: 6px 12px;
    position: relative;
    left: 7px;
    cursor: pointer;
  }
}