.scenary--row {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      background-color: $c4;
      height: 2px;
      width: 100%;
      bottom: -20px;
    }
    .quotation--title__quo {
      font-family: $FuturaBold;
      font-size: 16px;
    }
  }
  &__table {
    display: flex;
    justify-content: space-between;
    .scenary--row {
      display: block;
      margin: 0 0 12px;
      width: 20%; 
    }
    .quotation--title__quo,
    .quotation--info {
      color: $black;
      font-family: $FuturaMedium;
      font-size: 16px;
    }
    .quotation--info {
      font-family: $FuturaLight;
    }
  }
}