$fonts: '../../fonts' !default;

@font-face {
  font-family: 'Futura Light';
  src: url('#{$fonts}/Futura/FuturaStd-Light.eot');
  src: url('#{$fonts}/Futura/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
      url('#{$fonts}/Futura/FuturaStd-Light.otf') format('opentype'),
      url('#{$fonts}/Futura/FuturaStd-Light.woff2') format('woff2'),
      url('#{$fonts}/Futura/FuturaStd-Light.woff') format('woff'),
      url('#{$fonts}/Futura/FuturaStd-Light.ttf') format('truetype'),
      url('#{$fonts}/Futura/FuturaStd-Light.svg#svgGillSansMTPro-Light') format('svg');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Medium';
  src: url('#{$fonts}/Futura/FuturaStd-Medium.eot');
  src: url('#{$fonts}/Futura/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
      url('#{$fonts}/Futura/FuturaStd-Medium.otf') format('opentype'),
      url('#{$fonts}/Futura/FuturaStd-Medium.woff2') format('woff2'),
      url('#{$fonts}/Futura/FuturaStd-Medium.woff') format('woff'),
      url('#{$fonts}/Futura/FuturaStd-Medium.ttf') format('truetype'),
      url('#{$fonts}/Futura/FuturaStd-Medium.svg#svgGillSansMTPro-Light') format('svg');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Bold';
  src: url('#{$fonts}/Futura/FuturaStd-Bold.eot');
  src: url('#{$fonts}/Futura/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
      url('#{$fonts}/Futura/FuturaStd-Bold.otf') format('opentype'),
      url('#{$fonts}/Futura/FuturaStd-Bold.woff2') format('woff2'),
      url('#{$fonts}/Futura/FuturaStd-Bold.woff') format('woff'),
      url('#{$fonts}/Futura/FuturaStd-Bold.ttf') format('truetype'),
      url('#{$fonts}/Futura/FuturaStd-Bold.svg#svgGillSansMTPro-Light') format('svg');
  font-style: normal;
  font-display: swap;
}

$font-path-roboto-black: "../fonts/roboto/Roboto-Black.ttf";
$font-path-roboto-medium: "../fonts/roboto/Roboto-Medium.ttf";
$font-path-roboto-regular: "../fonts/roboto/Roboto-Regular.ttf";
@font-face {
  font-family: "Roboto bold";
  src: url("#{$font-path-roboto-black}") format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto medium";
  src: url("#{$font-path-roboto-medium}") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto regular";
  src: url("#{$font-path-roboto-regular}") format('truetype');
  font-weight: 400;
  font-style: normal;
}