body {
  color: $c1;
  font-family: $FuturaLight;
  position: relative;
}

.quotation--title,
.quotation--subtitle {
  font-family: $FuturaMedium;
  line-height: 1;
}

.quotation--title {
  font-size: 20px;
}

.quotation--title__quo {
  font-family: $FuturaMedium;
  font-size: 16px;
  text-transform: capitalize;
}

.quotation--subtitle {
  font-size: 16px;
}

.quotation--info {
  color: $c2;
  font-family: $FuturaMedium;
  font-size: 13px;
  text-decoration: none;

  &__white {
    color: $cp13;
    font-family: $FuturaMedium;
    font-size: 13px;
  }
}
.quotation--detail{
  font-weight: bold;
  color: $black;
}

.quotation--info__bold {
  font-family: $FuturaBold;
}

.quotation--btn {
  &__view {
    display: block;
    margin: 10px 0;
  }
  &__new,
  &__add {
    border: 2px solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    @media screen and (min-width: 992px) {
      padding: 8px 18px;
      font-size: 13px;
    }
    @media screen and (min-width: 1200px) {
      padding: 10px 20px;
      font-size: 14px;
    }
  } 
  &__new {
    color: $white;
    background-color: $black;
    cursor: pointer;
  }
  &__add {
    background-color: $white;
    color: $black;
  }
}

#quotation--btn__delete, #quotation--btn__approved {
  cursor: pointer;
}

.quotation-hide {
  display: none !important;
}

.quotation-hidden {
  visibility: hidden;
}

.quotation--status {
  border-radius: 15px;
  font-family: $FuturaMedium;
  font-size: 10px;
  padding: 6px 12px;
  &--requested {
    background-color: $c8;
    color: $c7;  
  }
  &--confirmed {
    background-color: $c10;
    color: $c9;
  }
  &--cancelled {
    background-color: $c12;
    color: $c11;
  }
}

select {
  background-image: url('../img/icon/icon-arrow-select.svg');
  background-position: center right 10px;
  background-repeat: no-repeat;
  border: 1px solid $c4;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  height: 40px;
  padding: 0 35px 0 10px;
  -webkit-appearance: none; /* Para navegadores basados en WebKit (Chrome, Safari, etc.) */
  -moz-appearance: none; /* Para navegadores basados en Gecko (Firefox) */
  appearance: none; /* Estándar */
}

input {
  border: 1px solid $c4;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
}

/* Oculta las flechas del input de tipo "number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  /* Deshabilita la interacción con las flechas del teclado */
  -moz-appearance: textfield;
}
