body {
  color: $c1;
  font-family: $FuturaLight;
}

.quotation--title,
.quotation--subtitle {
  font-family: $FuturaMedium;
  line-height: 1;
}

.quotation--title {
  font-size: 32px;
}

.quotation--title__quo {
  font-family: $FuturaMedium;
  font-size: 18px;
  text-transform: capitalize;
}

.quotation--subtitle {
  font-size: 16px;
}

.quotation--info {
  color: $c2;
  font-family: $FuturaMedium;
  font-size: 14px;
  &__white {
    color: $cp13;
    font-family: $FuturaMedium;
    font-size: 14px;
  }
}

.quotation--info__bold {
  font-family: $FuturaBold;
}

.scenary--cta {
  .quotation--btn__view {
    display: block;
    margin: 10px 0;
  }
}

#quotation--btn__delete {
  cursor: pointer;
}

.quotation-hide {
  display: none;
}

.quotation--status {
  border-radius: 15px;
  font-family: $FuturaMedium;
  font-size: 12px;
  padding: 6px 12px;
  &--requested {
    background-color: $c8;
    border: 1px solid $c7;
    color: $c7;  
  }
  &--confirmed {
    background-color: $c10;
    border: 1px solid $c9;
    color: $c9;
  }
  &--cancelled {
    background-color: $c12;
    border: 1px solid $c11;
    color: $c11;
  }
}

select {
  background-image: url('../img/icon/icon-arrow-select.svg');
  background-position: center right 10px;
  background-repeat: no-repeat;
  border: 1px solid $c4;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  height: 40px;
  padding: 0 35px 0 10px;
  -webkit-appearance: none; /* Para navegadores basados en WebKit (Chrome, Safari, etc.) */
  -moz-appearance: none; /* Para navegadores basados en Gecko (Firefox) */
  appearance: none; /* Estándar */
}

input {
  border: 0;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  height: 40px;
  padding: 0 10px;
}