// Fonts

// $FuturaLight: 'Futura Light';
// $FuturaMedium: 'Futura Medium';
// $FuturaBold: 'Futura Bold';
$FuturaLight: 'Roboto regular';
$FuturaMedium: 'Roboto medium';
$FuturaBold: 'Roboto bold';

// Color

$white: #ffffff;
$black: #000000;

$c1: #222222;
$c2: #727272;
$c3: #FFF8F1;
$c4: #D9D8D6;
$c5: #4B4B4B;
$c6: #F7F7F7;

$c7: #BFECFF;
$c8: #0365D9;

$c9: #E1FFE8;
$c10: #D7FFE0;

$c11: #FFE0E0;
$c12: #FFE0E0;

$cp13: #D9D9D9;
$cp14: #f6f6f6;

$c15: #D4CA9F;

