// Fonts

$FuturaLight: 'Futura Light';
$FuturaMedium: 'Futura Medium';
$FuturaBold: 'Futura Bold';

// Color

$white: #ffffff;
$black: #000000;

$c1: #222222;
$c2: #727272;
$c3: #FFF8F1;
$c4: #D9D8D6;
$c5: #4B4B4B;
$c6: #F7F7F7; 
$c7: #0365D9;
$c8: #C0E1FF;
$c9: #00A126;
$c10: #E1FFE8;
$c11: #B61717;
$c12: #FFE0E0;